# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
# created-by: conda 24.11.2
aiohappyeyeballs=2.4.4=pypi_0
aiohttp=3.11.11=pypi_0
aiosignal=1.3.2=pypi_0
anyio=4.8.0=pypi_0
asttokens=3.0.0=pypi_0
attrs=24.3.0=pypi_0
aws-cdk-cloud-assembly-schema=1.204.0=pypi_0
aws-cdk-core=1.204.0=pypi_0
aws-cdk-cx-api=1.204.0=pypi_0
aws-cdk-region-info=1.204.0=pypi_0
backoff=2.2.1=pypi_0
bcrypt=4.2.1=pypi_0
boto3=1.36.4=pypi_0
botocore=1.36.4=pypi_0
bzip2=1.0.8=h99b78c6_7
ca-certificates=2024.12.14=hf0a4a13_0
cattrs=24.1.2=pypi_0
certifi=2024.12.14=pypi_0
cffi=1.17.1=pypi_0
click=8.1.8=pypi_0
cloudpickle=3.1.1=pypi_0
coiled=1.72.1=pypi_0
comm=0.2.2=pypi_0
constructs=3.4.344=pypi_0
cryptography=44.0.0=pypi_0
dask=2025.1.0=pypi_0
decorator=5.1.1=pypi_0
deprecated=1.2.15=pypi_0
distributed=2025.1.0=pypi_0
executing=2.2.0=pypi_0
fabric=3.2.2=pypi_0
filelock=3.17.0=pypi_0
frozenlist=1.5.0=pypi_0
fsspec=2024.12.0=pypi_0
gilknocker=0.4.1=pypi_0
h11=0.14.0=pypi_0
h2=4.1.0=pypi_0
hpack=4.1.0=pypi_0
httpcore=1.0.7=pypi_0
httpx=0.28.1=pypi_0
hyperframe=6.1.0=pypi_0
idna=3.10=pypi_0
importlib-metadata=8.6.1=pypi_0
importlib-resources=6.5.2=pypi_0
invoke=2.2.0=pypi_0
ipython=8.31.0=pypi_0
ipywidgets=8.1.5=pypi_0
jedi=0.19.2=pypi_0
jinja2=3.1.5=pypi_0
jmespath=1.0.1=pypi_0
jsii=1.106.0=pypi_0
jsondiff=2.2.1=pypi_0
jupyterlab-widgets=3.0.13=pypi_0
libexpat=2.6.4=h286801f_0
libffi=3.4.2=h3422bc3_5
liblzma=5.6.3=h39f12f2_1
libmpdec=4.0.0=h99b78c6_0
libsqlite=3.48.0=h3f77e49_1
libzlib=1.3.1=h8359307_2
locket=1.0.0=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=3.0.2=pypi_0
matplotlib-inline=0.1.7=pypi_0
mdurl=0.1.2=pypi_0
msgpack=1.1.0=pypi_0
multidict=6.1.0=pypi_0
ncurses=6.5=h5e97a16_2
openssl=3.4.0=h81ee809_1
packaging=24.2=pypi_0
paramiko=3.5.0=pypi_0
parso=0.8.4=pypi_0
partd=1.4.2=pypi_0
pexpect=4.9.0=pypi_0
pip=24.3.1=pyh145f28c_2
pip-requirements-parser=32.0.1=pypi_0
prometheus-client=0.21.1=pypi_0
prompt-toolkit=3.0.50=pypi_0
propcache=0.2.1=pypi_0
psutil=6.1.1=pypi_0
ptyprocess=0.7.0=pypi_0
publication=0.0.3=pypi_0
pure-eval=0.2.3=pypi_0
pycparser=2.22=pypi_0
pygments=2.19.1=pypi_0
pynacl=1.5.0=pypi_0
pyparsing=3.2.1=pypi_0
python=3.13.1=h4f43103_105_cp313
python-dateutil=2.9.0.post0=pypi_0
python_abi=3.13=5_cp313
pyyaml=6.0.2=pypi_0
readline=8.2=h92ec313_1
rich=13.9.4=pypi_0
s3transfer=0.11.1=pypi_0
setuptools=75.8.0=pypi_0
six=1.17.0=pypi_0
sniffio=1.3.1=pypi_0
sortedcontainers=2.4.0=pypi_0
stack-data=0.6.3=pypi_0
tblib=3.0.0=pypi_0
tk=8.6.13=h5083fa2_1
toml=0.10.2=pypi_0
toolz=1.0.0=pypi_0
tornado=6.4.2=pypi_0
traitlets=5.14.3=pypi_0
typeguard=2.13.3=pypi_0
typing-extensions=4.12.2=pypi_0
tzdata=2025a=h78e105d_0
urllib3=2.3.0=pypi_0
wcwidth=0.2.13=pypi_0
wheel=0.45.1=pypi_0
widgetsnbextension=4.0.13=pypi_0
wrapt=1.17.2=pypi_0
yarl=1.18.3=pypi_0
zict=3.0.0=pypi_0
zipp=3.21.0=pypi_0
